{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}

    {% for jumbo in jumbotron %}
        <div class="jumbotron">
            <div class="container">
              <h1 class="display-4">{{ jumbo.first_field }}</h1>
              <p>{{ jumbo.second_field }}</p>
            </div>
        </div>

        <div class="container mb-5">
            <div class="row">
                {% for item in jumbo.section.articles.all %}
                    <div class="col-md-4">
                        <h2>{{ item.title }}</h2>

                        <a href="{% url 'item' %}?id={{ item.id }}">

                          <img src="{{ MEDIA_URL }}{{ item.image.url }}" width="180">

                        </a>
                        {% if user.is_authenticated %}
                            <form method="post">
                            {% csrf_token %}
                              <input type="hidden" name="user-id" value="{{ user.id }}">
                              <input type="hidden" name="item-id" value="{{ item.id }}">
                              <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                            </form>
                        {% else %}
                            <h6>Войдите, чтобы купить</h6>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>


    {% endfor %}
{% endblock %}